@font-face {
    font-family: 'Pixelify Sans';
    src: URL('fonts/PixelifySans-Regular.ttf') format('truetype');
}

body {
    font-family: 'Pixelify Sans';
}

a {
    text-decoration: none;
    color: blueviolet;
}
